*{
    margin: 0;
    padding: 0;
}

body {
    background: url("./3.jpg") no-repeat center fixed;
    background-size: 100% 100%;
}

.container{
    color: white;
    position: absolute;
    top:30%;
    left: 36%;
    background-color: rgba(2, 1, 0, 0.774);
    border-radius: 1rem;
    padding-top: 1rem;
    padding-right: 1rem;
    padding-left: 1rem;
    height: 47%;
    width: 30%;
}

.container2{
    top: 50%;
}

.container h1{
    display: inline-block;
    font-size: 40px;
    margin-bottom: 1rem ;
    border-bottom: 5px solid purple;
}

.box{
    margin-top: 1.5rem;
    width: 100%;
    border-bottom: 2px solid purple;
}

.box input{
    background: none;
    color: aliceblue;
    width: 82%;
    border: none;
    font-size: 18px;
}

.box i{
    margin-top: 1rem;
    text-align: center;
    padding: 0px 12px;
}

.btn{
    cursor: pointer;
    border-radius: 2rem;
    border: 2px solid black;
    outline: none;
    width: 30%;
    margin-top: 2rem;
    padding: .5rem;
    position: absolute;
}

.btn:hover{
    background-color: rgb(206, 229, 250);
}

@media(max-width:991px){
    html{
        font-size: 65%;
    }
    .container{
        top:30%;
        left: 36%;
        height: 40%;
        width: 35%;
    }
    .container a{
        font-size: 30px;
        margin-bottom: 1rem ;
        margin-left: 1rem;
    }
    .btn{
        width: 30%;
    }
}

@media(max-width:768px){
    html{
        font-size: 60%;
    }
    .container{
        top:30%;
        left: 26%;
        height: 300px;
        width: 215px;
    }
    .btn{
        width: 30%;
    }
}
@media (max-width:550px){
    html{
        font-size: 55%;
    }
    h1 {
      display: inline-block;
      color: brown;
      margin-left: 5%;
      font-size: 29px;
      margin-top: 5%;
      margin-bottom: 2rem;
      border-bottom: 3px solid purple;
      background-color: #f1c6c6;
      padding: 0.5rem 2rem;
      border-radius: 2rem;
    }
    .container {
        top: 30%;
        left: 16%;
        height: 230px;
        width: 215px;
    }
    .container a{
        font-size: 25px;
        margin-bottom: 1rem ;
        margin-left: 1rem;
    }
    .btn{
        width: 30%;
    }
}